---
skip_tags: true

clone_folder: C:\projects\hashids.pm

cache:
  - C:\strawberry

install:
  - if not exist "C:\strawberry" cinst strawberryperl
  - set PATH=C:\strawberry\perl\bin;C:\strawberry\perl\site\bin;C:\strawberry\c\bin;%PATH%
  - cd C:\projects\hashids.pm
  - cpanm --installdeps . -n

build_script:
  - perl Build.PL
  - perl ./Build build

test_script:
  - perl ./Build test
